<%- include('../partials/header') %>
<div class="profile-page">
  <div class="profile-page--banner"></div>
  <div class="profile-page__user">
    <img class="profile-page__user--avatar" src="<%= user.avatarUrl %>" alt="<% user.name %>" />
    <h2><%= user.name %></h2>
  </div>
  <div class="profile-page__friends">
    <h3><%= user.name %>'s Friends</h3>
    <ul class="profile-page__friends--list">
      <% friends.forEach(friend => { %>
        <%- include('../partials/friend', { friend: friend }) %>
      <% }) %> 
    </ul>
  </div>
</div>
<%- include('../partials/footer') %>